<!DOCTYPE HTML>
<html lang = "en">
	<head>
		<meta charset="utf-8" />
		<title>RIOT API</title>
		
		<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
		<link rel="stylesheet" type="text/css" href="resources/css/reset.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="resources/css/font-awesome.min.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="resources/css/dat-menu.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="resources/css/main-stylesheet.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="resources/css/responsive.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Oswald:300,400,700|Source+Sans+Pro:300,400,600,700&amp;subset=latin,latin-ext" />
		<!--[if lt IE 9 ]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style>
			/* Man content & sidebar top lne, default #256193 */
			#sidebar .panel,
			-box  {
				border-top: 5px solid #256193;
			}

			/* Slider colors, default #256193 */
			a.featured-select,
			#slider-info .padding-box ul li:before,
			.home-article.right ul li a:hover {
				background-color: #256193;
			}

			/* Button color, default #256193 */
			.panel-duel-voting .panel-duel-vote a {
				background-color: #256193;
			}

			/* Menu background color, default #000 */
			#menu-bottom.blurred #menu > .blur-before:after {
				background-color: #000;
			}

			/* Top menu background, default #0D0D0D */
			#header-top {
				background: #0D0D0D;
			}

			/* Sidebar panel titles color, default #333333 */
			#sidebar .panel > h2 {
				color: #333333;
			}

			/* Main titles color, default #353535 */
			 h2 span {
				color: #353535;
			}

			/* Selection color, default #256193 */
			::selection {
				background: #256193;
			}

			/* Links hover color, default #256193 */
			.article-icons a:hover,
			a:hover {
				color: #256193;
			}

			/* Image hover background, default #256193 */
			.article-image-out,
			.article-image {
				background: #256193;
			}

			/* Image hover icons color, default #256193 */
			span.article-image span .fa {
				color: #256193;
			}
                        #header{
                            background-image: url('img/maokai2.png');
                        }
                       .social-links .champion{
                            font-size:16px !important;
                            color:white !important;
                            background-color: #c41d54 !important;
	
                        }
		</style>
	</head>
	<body class="no-slider">
	<!-- <body class="has-top-menu"> -->
		<!-- BEGIN #slider-imgs -->
		<div id="slider-imgs">
			<div class="featured-img-box">
				<div id="featured-img-1" class="featured-img"></div>
				<div id="featured-img-2" class="featured-img invisible"></div>
				<div id="featured-img-3" class="featured-img invisible"></div>
				<div id="featured-img-4" class="featured-img invisible"></div>
			</div>
		<!-- END #slider-imgs -->
		</div>

		<!-- BEGIN #top-layer -->
		<div id="top-layer">
			<div id="header-top">
				<div class="wrapper">
					<ul class="right">
						<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-twitch"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-steam"></i></a></li>
					</ul>
					<ul class="load-responsive" rel="Top menu">
						<li><a href="index.php">Wyszukiwarka</a></li>
						
							
					</ul>
				</div>
			</div>
			<section id="content">
				<header id="header">
					

					<div class="wrapper">
						<div class="header-breadcrumbs">
							<h2 class="right">League of Legends Champions</h2>
							<ul>
								<li><a href="index.php">Homepage</a></li>
								<li>CHAMPIONS</li>
							</ul>
						</div>
					</div>
					
				</header>
				<div id="main-box" class="full-width">
					
					<div id="main">
						
						<h2><span>Lista Postacii</span></h2>

						<div class="content-padding">
							<div class="staff-block">
                                                            {%for champions in all_champions%}
								<div class="item">
                                                                    
									<a href="champion_profile.php?id={{champions.champion_id}}"><img src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/{{champions.champion_image}}' class="item-photo" alt="{{champions.champion_name}}" /></a>
                                                                        
											
									<div class="item-content">
										<h3><a href="user-single.html">{{champions.champion_name}}</a><span>Passive: {{champions.champion_passive}}</span></h3>
										<div class="social-links">
											<a href="#" class='champion'> {{champions.champion_title}}</a>
                                                                                        <a href="#" class='champion'>ID: {{champions.champion_id}}</a>
											
											
										</div>
										<p>{{champions.champion_desc}}</p>
                                                                                
										<div class="social-links">
											<a href="#" class=''>Atak: {{champions.champion_attack}}</a>
                                                                                        <a href="#" class=''>Def: {{champions.champion_defense}}</a>
                                                                                         <a href="#" class=''>Dif: {{champions.champion_difficulty}}</a>
                                                                                          <a href="#" class=''>HP: {{champions.champion_hp}}</a>
                                                                                           <a href="#" class=''>Armor: {{champions.champion_armor}}</a>
											
											
										</div>	
											
										
									</div>
								</div>
								{%endfor%}
							</div>
						</div>
						
					</div>
					
					<div class="clear-float"></div>
					
				</div>
			</div>
		</div>
			
		<div class="clear-float"></div>
		
		<div class="wrapper">
			<!-- BEGIN .footer -->
			<div class="footer">

				<div class="footer-top"></div>
				
				<div class="footer-content">
				
				</div>

				<div class="footer-bottom">
					<div class="left">&copy; Copyright 2016 <strong>TEGIE</strong>  <strong>www.tegie.eu</strong></div>
					<div class="right">
						
					</div>
					<div class="clear-float"></div>
				</div>
				
			<!-- END .footer -->
			</div>
		</div>
		
	</body>
</html>