


<!DOCTYPE HTML>
<html lang = "en">
	<head>
		<meta charset="utf-8" />
		<title>Revelio Theme | Profile page</title>
		<meta content="IE=edge" http-equiv="X-UA-Compatible" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta property="og:type" content="company" />
		<meta property="og:title" content="Revelio Theme | Homepage" />
		<meta property="og:image" content="" />
		<meta property="og:description" content="" />
		<meta property="og:url" content="http://datcouch.com" />
		<meta property="og:site_name" content="Revelio Theme | Homepage" />
		<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
		<link rel="stylesheet" type="text/css" href="resources/css/reset.css" media="screen" />
                <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="resources/css/font-awesome.min.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="resources/css/dat-menu.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="resources/css/main-stylesheet.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="resources/css/responsive.css" media="screen" />
                
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Oswald:300,400,700|Source+Sans+Pro:300,400,600,700&amp;subset=latin,latin-ext" />
		<!--[if lt IE 9 ]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style>
			/* Man content & sidebar top lne, default #256193 */
			#sidebar .panel,
			#main-box #main {
				border-top: 5px solid #256193;
			}

			/* Slider colors, default #256193 */
			a.featured-select,
			#slider-info .padding-box ul li:before,
			.home-article.right ul li a:hover {
				background-color: #256193;
			}

			/* Button color, default #256193 */
			.panel-duel-voting .panel-duel-vote a {
				background-color: #256193;
			}

			/* Menu background color, default #000 */
			#menu-bottom.blurred #menu > .blur-before:after {
				background-color: #000;
			}

			/* Top menu background, default #0D0D0D */
			#header-top {
				background: #0D0D0D;
			}

			/* Sidebar panel titles color, default #333333 */
			#sidebar .panel > h2 {
				color: #333333;
			}

			/* Main titles color, default #353535 */
			#main h2 span {
				color: #353535;
			}

			/* Selection color, default #256193 */
			::selection {
				background: #256193;
			}

			/* Links hover color, default #256193 */
			.article-icons a:hover,
			a:hover {
				color: #256193;
			}

			/* Image hover background, default #256193 */
			.article-image-out,
			.article-image {
				background: #256193;
			}

			/* Image hover icons color, default #256193 */
			span.article-image span .fa {
				color: #256193;
			}
                        .no-slider #header{
                        background-image: url('img/maokai2.png');
                        height:140px;                        
                        }
                        .league_icon{
                            margin-left:13px;
                            margin-top:10px;
                        }
                        .img-champion{
                            color:white;
                        }
                        th{
                            background-color:#256193;
                            color:white;
                        }
                        .dyw{
                            background-color:white;
                            color:black;
                        }
                        .random{
                            margin-top:30px;
                            padding-left:5px;
                        }
		</style>
	</head>
	<body class="no-slider">
	<!-- <body class="has-top-menu"> -->
		<!-- BEGIN #slider-imgs -->
		<div id="slider-imgs">
			<div class="featured-img-box">
				<div id="featured-img-1" class="featured-img"></div>
				<div id="featured-img-2" class="featured-img invisible"></div>
				<div id="featured-img-3" class="featured-img invisible"></div>
				<div id="featured-img-4" class="featured-img invisible"></div>
			</div>
		<!-- END #slider-imgs -->
		</div>

		<!-- BEGIN #top-layer -->
		<div id="top-layer">
			<div id="header-top">
				<div class="wrapper">
					<ul class="right">
						<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-twitch"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-steam"></i></a></li>
					</ul>
					<ul class="load-responsive" rel="Top menu">
						<li><a href="index.php">Wyszukiwarka</a></li>
                                                <li><a href="champion.php">Lista Postaci</a></li>
						
				</div>
			</div>
			<section id="content">
				<header id="header" class="needsmallpadding">
					
				</header>
				<div id="main-box" class="full-width">
					
					<div id="main">
						
						<!-- BEGIN .user-profile -->
						<div class="user-profile">
							
							<div class="profile-shadow"></div>

							<!-- BEGIN .profile-left-side -->
							<div class="profile-left-side">

								<div class="the-profile-top">
									<div class="profile-user-name">
										<h1> {{champion_info.champion_name}} - {{champion_info.champion_title}}</h1>
										
									</div>

									<div class="avatar online">
										<div class="avatar-button"><a href="#">{{champion_info.champion_name}}</a></div>
										<img width='200px' src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/{{champion_info.champion_image}}" class="setborder league_icon" alt="" />
									</div>
									
									<div>
                                                                            
                                                                            <ul class="user-button-list">
                                                                                
											<li><a href="#" class="defbutton profile-button"> Nazwa: {{champion_info.champion_name}}</a></li>
											<li><a href="#" class="defbutton profile-button">Passive: {{champion_info.champion_passive}}</a></li>
											
                                                                                        
										</ul>
										<ul class="user-button-list">
											<li><span class="info-msg">League of Legends - gra MMRPG</span></li>
										</ul>
                                                                                        
										<div class="user-panel-about">
											<div>
												<b><i class="fa fa-male"></i>O grze</b>
												<p>League of Legends – sieciowa gra komputerowa z gatunku multiplayer online battle arena. Powstała na bazie modyfikacji Defense of the Ancients do Warcraft III: The Frozen Throne. </p>
											</div>
<ul class="profile-friends-list">
												
											</ul>
											
										</div>

										
									</div>
								</div>
								
								

							<!-- END .profile-left-side -->
							</div>

							<!-- BEGIN .profile-right-side -->
							<div class="profile-right-side">

								<h2><span>Statystyki postaci</span></h2>
								<!-- BEGIN .content-padding -->
								<div class="content-padding">

									<!-- BEGIN .info-blocks -->
									<div class="info-blocks">
										<ul>
                                                                                    
											<li><a href="#" class="info-block">{{champion_info.champion_attack}}<span class='dyw'>Atak</span></a></li>
                                                                                        <li><a href="#" class="info-block">{{champion_info.champion_defense}}<span class='dyw'>Obrona</span></a></li>
											<li><span class="info-block">{{champion_info.champion_hp}}<span class='dyw'>Zdrowie</span></span></li>
											<li><a href="#" class="info-block">{{champion_info.champion_range}}<span class='dyw'>Zasięg</span></a></li>
											<li><a href="#" class="info-block">{{champion_info.champion_armor}}<span class='dyw'>Pancerz</span></a></li>
											<li><a href="#" class="info-block">{{champion_info.champion_magic}}<span class='dyw'>Magia</span></a></li>
											
                                                                                        
										</ul>
										<div class="clear-float"></div>
									<!-- END .info-blocks -->
									</div>
									
								
									
									
									
									
									
									
									
									
								<!-- END .content-padding -->
								</div>


								<h2><span>{{champion_info.champion_name}} - {{champion_info.champion_title}}</span></h2>
								<!-- BEGIN .content-padding -->
								<div class="content-padding">
									
                                                                    <p>{{champion_info.champion_desc}}</p>

								{%for random in random_champion%}
                                                                    
                                                                    <a  href='champion_profile.php?id={{random.champion_id}}'><img class='random' width='165px' src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/{{random.champion_image}}' alt='{{random.champion_name}}' /></a>
                                                                    
                                                                    {%endfor%}
								</div>

							<!-- END .profile-right-side -->
							</div>

							<div class="clear-float"></div>

						<!-- END .user-profile -->
						</div>

					</div>
					
					<div class="clear-float"></div>
					
				</div>
			</div>
		</div>
			
		<div class="clear-float"></div>
		
		<div class="wrapper">
			<!-- BEGIN .footer -->
			<div class="footer">

				<div class="footer-top"></div>
				
				

				<div class="footer-bottom">
					<div class="left">&copy; Copyright 2016 <strong>TEGIE</strong> </div>
					<div class="right">
                                            <strong>WWW.TEGIE.EU</strong>
					</div>
					<div class="clear-float"></div>
				</div>
				
			<!-- END .footer -->
			</div>
		</div>
		
	</body>
</html>
