<!DOCTYPE HTML>
    <html lang="en">
    <head>
    <meta charset="utf-8">
    <title>RIOTAPI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Styles -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <style>
        
        body{
            background-image: url("https://cdn.leagueoflegends.com/match-history/opengraph_icon.jpg");
        }
        .brand{
            margin-top:30px;
            margin-left:150px;
        }
        .formularz{
            margin-left:210px;
            margin-top:50px;
        }
    </style>
    </head>
    <body>
    <!--******************** NAVBAR ********************-->
    <div class="navbar-wrapper">
      
        <div class="navbar-inner">
          <div class="container">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
            <img class="brand" src="https://engineering.riotgames.com/sites/default/files/articles/37/heimerheader.png" >
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            
          </div>
          <!-- /.container -->
        </div>
        <!-- /.navbar-inner -->
     
      <!-- /.navbar -->
    </div>
    <!-- /.navbar-wrapper -->
    
    
     
        <div class="container">
          <div class="row">
            <form class=" formularz span12 form-inline" method="POST" action="summoner.php">
             
              <div class="form-group">
              <select size="1"  class='form-control' name='server'>
                  <option value="NA">North America</option>
                  <option value="EUW">Europe West</option>
                  <option value="EUNE">Europe North & East</option>
                  <option value="OCE">Oceania</option>
                  <option value="BR">Brazil</option>
                  <option value="LAN">Latin America North</option>
                  <option value="LAS">Latin America South</option>
                  <option value="RU">Russia</option>
                  <option value="TR">Turkey</option>
              </select>
              <input  type="text" name="name" placeholder="Nazwa gracza" class="form-control" size="40" title="name">
              <input type="submit" value="WYSZUKAJ GRACZA" class="btn  btn-primary">
              </div>
            </form>
          </div>
          <div class="row">
            <div class="span12">
              
            </div>
          </div>
   
    
    
    
    </body>
    </html>


