<!DOCTYPE HTML>
<html lang = "en">
	<head>
		<meta charset="utf-8" />
		<title>RIOT API</title>
		
		<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
		<link rel="stylesheet" type="text/css" href="resources/css/reset.css" media="screen" />
                <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="resources/css/font-awesome.min.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="resources/css/dat-menu.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="resources/css/main-stylesheet.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="resources/css/responsive.css" media="screen" />
                
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Oswald:300,400,700|Source+Sans+Pro:300,400,600,700&amp;subset=latin,latin-ext" />
		<!--[if lt IE 9 ]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style>
			/* Man content & sidebar top lne, default #256193 */
			#sidebar .panel,
			#main-box #main {
				border-top: 5px solid #256193;
			}

			/* Slider colors, default #256193 */
			a.featured-select,
			#slider-info .padding-box ul li:before,
			.home-article.right ul li a:hover {
				background-color: #256193;
			}

			/* Button color, default #256193 */
			.panel-duel-voting .panel-duel-vote a {
				background-color: #256193;
			}

			/* Menu background color, default #000 */
			#menu-bottom.blurred #menu > .blur-before:after {
				background-color: #000;
			}

			/* Top menu background, default #0D0D0D */
			#header-top {
				background: #0D0D0D;
			}

			/* Sidebar panel titles color, default #333333 */
			#sidebar .panel > h2 {
				color: #333333;
			}

			/* Main titles color, default #353535 */
			#main h2 span {
				color: #353535;
			}

			/* Selection color, default #256193 */
			::selection {
				background: #256193;
			}

			/* Links hover color, default #256193 */
			.article-icons a:hover,
			a:hover {
				color: #256193;
			}

			/* Image hover background, default #256193 */
			.article-image-out,
			.article-image {
				background: #256193;
			}

			/* Image hover icons color, default #256193 */
			span.article-image span .fa {
				color: #256193;
			}
                        .no-slider #header{
                        background-image: url('img/maokai2.png');
                        height:140px;                        
                        }
                        .league_icon{
                            margin-left:13px;
                            margin-top:10px;
                        }
                        .img-champion{
                            color:white;
                        }
                        th{
                            background-color:#256193;
                            color:white;
                        }
                        .dyw{
                            background-color:white;
                            color:black;
                        }
                        
		</style>
	</head>
	<body class="no-slider">
	<!-- <body class="has-top-menu"> -->
		<!-- BEGIN #slider-imgs -->
		<div id="slider-imgs">
			<div class="featured-img-box">
				<div id="featured-img-1" class="featured-img"></div>
				<div id="featured-img-2" class="featured-img invisible"></div>
				<div id="featured-img-3" class="featured-img invisible"></div>
				<div id="featured-img-4" class="featured-img invisible"></div>
			</div>
		<!-- END #slider-imgs -->
		</div>

		<!-- BEGIN #top-layer -->
		<div id="top-layer">
			<div id="header-top">
				<div class="wrapper">
					<ul class="right">
						<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-twitch"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-steam"></i></a></li>
					</ul>
					<ul class="load-responsive" rel="Top menu">
						<li><a href="index.php">Wyszukiwarka</a></li>
                                                <li><a href="champion.php">Lista Postaci</a></li>
						
				</div>
			</div>
			<section id="content">
				<header id="header" class="needsmallpadding">
					
				</header>
				<div id="main-box" class="full-width">
					
					<div id="main">
						
						<!-- BEGIN .user-profile -->
						<div class="user-profile">
							
							<div class="profile-shadow"></div>

							<!-- BEGIN .profile-left-side -->
							<div class="profile-left-side">

								<div class="the-profile-top">
									<div class="profile-user-name">
										<h1> {{player.name}} - {{server}}</h1>
										<div class="sttaa"><span>ID:</span> {{player.id}} | <span>Poziom gracza:</span> {{player.summonerLevel}} | <span>Revision Date:</span> {{player.revisionDate}}</div>
									</div>

									<div class="avatar online">
										<div class="avatar-button"><a href="#">{{player.name}}</a></div>
										<img src="{{league_icon}}" class="setborder league_icon" alt="" />
									</div>
									
									<div>
                                                                            
                                                                            <ul class="user-button-list">
                                                                                {{blad}}
                                                                                    {%for league in league_statistics%}
											<li><a href="#" class="defbutton profile-button"> Liga {{league_tier}}</a></li>
											<li><a href="#" class="defbutton profile-button">Dywizja {{league.division}}</a></li>
											<li><a href="#" class="defbutton profile-button disabled">Wygrane {{league.wins}}</a></li>
											<li><a href="#" class="defbutton profile-button disabled">Przegrane {{league.losses}}</a></li>
                                                                                        {%endfor%}
										</ul>
										<ul class="user-button-list">
											<li><span class="info-msg">League of Legends - gra MMRPG</span></li>
										</ul>
                                                                                        <div class="user-achievements">
												<b><i class="fa fa-trophy"></i>Runy gracza</b>
												<p>
                                                                                                    {%for runes in random_runes%}
                                                                                                    <span class="ach strike-tooltip" title="Joined Revelio"><img width='25px' src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/rune/{{runes.runes_image}}"></span>
													 
                                                                                                           
                                                                                                    {%endfor%}
                                                                                                    </p>
											</div>
										<div class="user-panel-about">
											<div>
												<b><i class="fa fa-male"></i>O grze</b>
												<p>League of Legends – sieciowa gra komputerowa z gatunku multiplayer online battle arena. Powstała na bazie modyfikacji Defense of the Ancients do Warcraft III: The Frozen Throne. </p>
											</div>
<ul class="profile-friends-list">
												<li>
                                                                                                    {%for free_champ in free_champions%}
													<a href="champion.php" class="avatar online user-tooltip">
														<img width='220px' src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/{{free_champ.image.champion_image}}" class="setborder" title="" alt="dupa" />
													</a>
												</li>
												{%endfor%}
											</ul>
											
										</div>

										
									</div>
								</div>
								
								

							<!-- END .profile-left-side -->
							</div>

							<!-- BEGIN .profile-right-side -->
							<div class="profile-right-side">

								<h2><span>Statystyki gier rankingowych</span></h2>
								<!-- BEGIN .content-padding -->
								<div class="content-padding">

									<!-- BEGIN .info-blocks -->
									<div class="info-blocks">
										<ul>
                                                                                    {{blad}}
                                                                                    {%for league in league_statistics%}
											<li><a href="#" class="info-block">{{league_queue}}<span class='dyw'>Kolejka</span></a></li>
                                                                                        <li><a href="#" class="info-block">{{league_tier}}<span class='dyw'>Ranga</span></a></li>
											<li><span class="info-block">{{league.division}}<span class='dyw'>Dywizja</span></span></li>
											<li><a href="#" class="info-block">{{league.wins}}<span class='dyw'>Wygrane</span></a></li>
											<li><a href="#" class="info-block">{{league.losses}}<span class='dyw'>Przegrane</span></a></li>
											<li><a href="#" class="info-block">{{league.leaguePoints}}<span class='dyw'>Punkty</span></a></li>
											
                                                                                        {%endfor%}
										</ul>
										<div class="clear-float"></div>
									<!-- END .info-blocks -->
									</div>
									
									<div>
										<div style="width:350px;" class="left">
											<h2 style="margin-left:-30px;"><span>Informacje o profilu</span></h2>
											
											<ul class="profile-info">
												<li>
													<span class="first">Nazwa gracza:</span>
													<span class="last">{{player.name}}</span>
												</li>
												<li>
													<span class="first">Region:</span>
													<span class="last">{{server}}</span>
												</li>
												<li>
													<span class="first">Poziom gracza:</span>
													<span class="last">{{player.summonerLevel}}</span>
												</li>
												<li>
													<span class="first">Id:</span>
													<span class="last">{{player.id}}</span>
												</li>
												<li>
													<span class="first">Revision Date::</span>
													<span class="last">{{player.revisionDate}}</span>
												</li>
											</ul>

											<div class="clear-float"></div>
										</div>

										<div style="width:300px;" class="right">
											
											<h2 style="margin-left: -30px;"><span>Darmowi bohaterowie</span></h2>
											
											<ul class="profile-friends-list">
												<li>
                                                                                                    {%for free_champ in free_champions%}
													<a href="champion.php" class="avatar online user-tooltip">
														<img width='45px' src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/{{free_champ.image.champion_image}}" class="setborder" title="" alt="dupa" />
													</a>
												</li>
												{%endfor%}
											</ul>
                                                                                        <div class="clear-float"></div>

											
											
										</div>

										<div class="clear-float"></div>
									</div>
									<h2><span>Bohaterowie gracza - {{player.name}}</span></h2>
									<div class="photo-blocks">
										<ul>
                                                                                    {{blad}}
                                                                                    {%for player_champions in player_champion%}
                                                                                        <li><a href="champion.php" class="article-image-out"><span class="image-comments"><span>{{player_champions.name.champion_name}}</span></span><span class="article-image"><img src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/{{player_champions.image.champion_image}}" width="128" height="128" alt="" title="" /></span><span class='img-champion'>{{player_champions.name.champion_name}}</span><br><span class='img-champion'>Punkty: {{player_champions.championPoints}}</span></a></li>
                                                                                        
											{%endfor%}
										</ul>
										<div class="clear-float"></div>
									</div>
									
									<div>
										
									</div>
									
									
									
									
									
								<!-- END .content-padding -->
								</div>


								<h2><span>Statystyki Gracza</span></h2>
								<!-- BEGIN .content-padding -->
								<div class="content-padding">
									
                                                                    <table class="table table-striped">
                                                                        <tr><th><img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/champion.png"> Postac</th><th>Rozegrane gry</th><th>Wygrane gry</th><th>Przegrane gry</th><th>Zabójstwa</th><th>Zgony</th><th>Asysty</th></tr>
                                                                        {%for stat in stats%}
                                                                            
                                                                            <tr><td><img width='50px' src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/{{stat.stats.full_image.champion_image}}' />{{stat.stats.full_name.champion_name}}</td>
                                                                                <td><b>{{stat.stats.totalSessionsPlayed}} <img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/champion.png"></b></td><td><b>{{stat.stats.totalSessionsWon}} <img src='http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/score.png'></b></td><td><b>{{stat.stats.totalSessionsLost}} <img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/spells.png"></b></td><td><b>{{stat.stats.totalChampionKills}} <img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/spells.png"></b></td>
                                                                                <td><b>{{stat.stats.totalDeathsPerSession}} <img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/score.png"></b></td><td><b>{{stat.stats.totalAssists}} <img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/gold.png"></b></td></tr>
                                                                            
                                                                            
                                                                            {%endfor%}
                                                                        
                                                                        
                                                                    </table>

								<!-- END .content-padding -->
								</div>

							<!-- END .profile-right-side -->
							</div>

							<div class="clear-float"></div>

						<!-- END .user-profile -->
						</div>

					</div>
					
					<div class="clear-float"></div>
					
				</div>
			</div>
		</div>
			
		<div class="clear-float"></div>
		
		<div class="wrapper">
			<!-- BEGIN .footer -->
			<div class="footer">

				<div class="footer-top"></div>
				
				

				<div class="footer-bottom">
					<div class="left">&copy; Copyright 2016 <strong>TEGIE</strong> </div>
					<div class="right">
                                            <strong>WWW.TEGIE.EU</strong>
					</div>
					<div class="clear-float"></div>
				</div>
				
			<!-- END .footer -->
			</div>
		</div>
		
	</body>
</html>